<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <title>ClassPlanner | Change Password</title>
    {% load static %}
    <link rel="website icon" href="{% static 'tickets/img/ClassPlannerIcon-transparent.png' %}" type="img/x-icon">

    <!-- Scripts utilizados -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

    <script src="https://cdn.tailwindcss.com"></script>

    <script>
        tailwind.config = {
            darkMode: 'selector'
        }
    </script>
    
    {% load static %} 
    <link rel="stylesheet" href="{% static 'tickets/css/styles.css' %}"> 
</head>
<body class="bg-slate-100 dark:bg-[#0c0e16]">
    <div class="absolute bottom-0 left-0 ml-4 mb-4">
        <button id="darkModeButton" class="w-12 h-12 rounded-full bg-white dark:bg-[#141826] dark:text-white border-2 border-gray-300 dark:border-slate-800 flex items-center justify-center">
            {% comment %} cambio de tema dark/light {% endcomment %}
        </button>
    </div>
    <div class="flex items-center justify-center h-screen w-full bg-slate-100 dark:bg-[#0c0e16] p-4">
        <div class="bg-white dark:bg-[#141826] md:px-8 py-10 px-8 rounded-xl top-0 shadow-lg z-50 md:w-auto w-full border-2 border-slate-300 dark:border-slate-800">
            <form method="post" class="md:w-96 w-full">
                <div class="flex items-center mb-10">
                    {% load static %}
                    <div class="flex items-center justify-center w-full">
                        <img src="{% static 'tickets/img/ClassPlannerIcon-transparent.png' %}" class="md:w-14 w-8" alt="icon">
                        <div class="ml-2 dark:text-gray-100">
                            <p class="uppercase font-extrabold md:text-xl text-sm">ClassPlanner</p>
                            <p class="uppercase md:text-xs text-[9px] font-semibold">Gestión de Horarios</p>
                        </div>
                    </div>
                </div>
                <div class="mb-8">
                    <p class="md:text-2xl uppercase text-xl text-center font-bold dark:text-white">Activación de cuenta</p>
                    <p class="md:text-sm text-slate-500 dark:text-[#a8b2d2] text-sm text-center">Cambie su contraseña predeterminada</p>
                </div>
                {% csrf_token %}
                <p class="mb-4 flex flex-col">
                    <label for="id_password_actual" class="mb-1 text-base font-semibold text-slate-600 dark:text-white">Contraseña Actual <b class="text-red-600">*</b></label>
                    <input type="password" name="password_actual" id="id_password_actual" class="bg-white dark:bg-[#141826] text-sm focus:outline-none focus:ring-blue-600 focus-visible:ring-[3px] transition duration-300 focus:transition focus:duration-300 rounded-lg h-12 border p-3 border-slate-300 dark:border-slate-800 dark:placeholder:text-[#a8b2d2] dark:text-white" placeholder="************" required>
                </p>
                <p class="mb-4 flex flex-col">
                    <label for="id_password_nueva" class="mb-1 text-base font-semibold text-slate-600 dark:text-white">Nueva Contraseña <b class="text-red-600">*</b></label>
                    <input type="password" name="password_nueva" id="id_password_nueva" class="bg-white dark:bg-[#141826] text-sm focus:outline-none focus:ring-blue-600 focus-visible:ring-[3px] transition duration-300 focus:transition focus:duration-300 rounded-lg h-12 border p-3 border-slate-300 dark:border-slate-800 dark:placeholder:text-[#a8b2d2] dark:text-white" placeholder="************" minlength="4" maxlength="45" required>
                </p>
                <p class="mb-2 flex flex-col">
                    <label for="id_password_confirmacion" class="mb-1 text-base font-semibold text-slate-600 dark:text-white">Confirmar Contraseña <b class="text-red-600">*</b></label>
                    <input type="password" name="password_confirmacion" id="id_password_confirmacion" class="bg-white dark:bg-[#141826] text-sm focus:outline-none focus:ring-blue-600 focus-visible:ring-[3px] transition duration-300 focus:transition focus:duration-300 rounded-lg h-12 border p-3 border-slate-300 dark:border-slate-800 dark:placeholder:text-[#a8b2d2] dark:text-white" placeholder="************" minlength="4" maxlength="45" required>
                </p>

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="text-red-600 dark:text-red-500 text-base font-semibold">{{ error }}</p>
                    {% endfor %}
                {% endif %}

                {% if form.password_actual.errors %} 
                    {% for error in form.password_actual.errors %} 
                        <p class="text-red-600 dark:text-red-500 text-base font-semibold">{{ error }}</p>
                    {% endfor %} 
                {% endif %}

                <div class="mt-10">
                    <input type="submit" class="bg-slate-700 hover:bg-slate-900 cursor-pointer dark:bg-blue-600 dark:hover:bg-blue-800 hover:transition transition hover:duration-300 duration-300 w-full py-3 text-sm text-white font-semibold rounded-lg" value="Confirmar">
                </div>
            </form>
        </div>
    </div>

</body>

    {% load static %}
    <script src="{% static 'tickets/js/darkmode.js' %}"></script>
</html>