{% extends "tickets/base.html" %}

{% block content %}

<div class="p-4 border border-slate-400 dark:border-slate-700 h-screen border-default border-dashed mt-10 rounded-lg">
    <div class="user-list-content">
        <p class="mb-3 text-slate-500">Gestión / Usuarios</p>
        <h2 class="text-3xl font-bold text-[#234FA8] mb-4">Listado de usuarios</h2>

        <div class="mb-8 w-full gap-4 md:gap-0 flex flex-col md:flex-row md:justify-between justify-center">
            <div class="flex items-center relative">
                <input type="text" class="bg-white dark:bg-[#11182d] text-sm focus:outline-none focus:ring-blue-600 focus-visible:ring-[3px] transition duration-300 focus:transition focus:duration-300 rounded-lg h-12 w-96 border-2 p-3 border-slate-300 dark:border-slate-700 dark:placeholder:text-[#a8b2d2] dark:text-white" placeholder="Buscar" maxlength="40">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-search text-gray-400 dark:text-slate-300 absolute right-0 -translate-x-4">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M3 10a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                    <path d="M21 21l-6 -6" />
                </svg>
            </div>
            <a href="{% url 'usercreate' %}" class="flex items-center gap-2 bg-blue-600 hover:bg-blue-800 text-center hover:transition transition hover:duration-300 duration-300 rounded-lg px-8 py-3">
                <p class="w-full text-white font-semibold text-sm">+ Nuevo usuario</p>
            </a>
        </div>

        {% if usersys %}
        <div class="relative max-h-[70vh] b-white overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default border-slate-300 dark:border-slate-800 rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-body">
                <thead class="text-sm text-left text-slate-700 dark:text-white bg-slate-200 dark:bg-[#11182d] text-body bg-neutral-secondary-soft border-b rounded-base border-default dark:border-slate-800">
                    <tr>
                        <th scope="col" class="px-6 py-3 font-bold whitespace-nowrap md:whitespace-normal">
                            Nombre completo
                        </th>
                        <th scope="col" class="px-6 py-3 font-bold whitespace-nowrap md:whitespace-normal">
                            Rol asignado
                        </th>
                        <th scope="col" class="px-6 py-3 font-bold whitespace-nowrap md:whitespace-normal">
                            Rut
                        </th>
                        <th scope="col" class="px-6 py-3 font-bold whitespace-nowrap md:whitespace-normal">
                            Correo
                        </th>
                        <th scope="col" class="px-6 py-3 font-bold whitespace-nowrap md:whitespace-normal">
                            Teléfono
                        </th>
                        <th scope="col" class="px-6 py-3 font-bold whitespace-nowrap md:whitespace-normal">
                            Acción
                        </th>
                    </tr>
                </thead>
                <tbody class="dark:text-[#a8b2d2] text-slate-500">
                    {% for u in usersys %}
                    <tr class="border-b border-default odd:bg-white even:bg-slate-100 dark:odd:bg-[#1c2239] dark:border-b-slate-800">
                        <td class="px-6 py-4 whitespace-nowrap md:whitespace-normal">
                            <div class="flex items-center gap-2">
                                {% if u.avatar %}
                                <img class="w-8 h-8 rounded-full border-4 dark:border-slate-700" src="{{ u.avatar.url }}" alt="user photo" id="avatar">
                                {% else %}
                                    {% load static %} 
                                    <img class="w-8 h-8 rounded-full border-4 dark:border-slate-700" src="{% static 'tickets/img/defaultavatar.png' %}" alt="user photo" id="avatar">
                                {% endif %}
                                <p>{{ u.name }} {{ u.last_name }}</p>
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap md:whitespace-normal flex">    
                            {% if u.rol.name == 'root' %}
                            <p class="text-purple-500 text-xs font-semibold bg-purple-600/20 px-3 py-1 text-center w-auto rounded-full">
                                {{ u.rol }}
                            </p>
                            {% elif u.rol.name == 'Docente' %}
                            <p class="text-blue-500 text-xs font-semibold bg-blue-600/20 px-3 py-1 text-center w-auto rounded-full">
                                {{ u.rol }}
                            </p>
                            {% elif u.rol.name == 'Director' %}
                            <p class="text-orange-500 text-xs font-semibold bg-orange-600/20 px-3 py-1 text-center w-auto rounded-full">
                                {{ u.rol }}
                            </p>
                            {% endif %}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap md:whitespace-normal">{{ u.rut }}</td>
                        <td class="px-6 py-4 whitespace-nowrap md:whitespace-normal">{{ u.email }}</td>
                        <td class="px-6 py-4 whitespace-nowrap md:whitespace-normal">{{ u.telefono }}</td>
                        <td class="px-6 py-4 whitespace-nowrap md:whitespace-normal flex gap-2 ">
                            {% if request.user.rol.name != 'root' and u.rol.name == 'root' or request.user.rol.name != 'root' and u.rol.name == 'Administrador' %}
                                <p class="text-danger">NO AUTORIZADO</p>
                            {% else %}
                                <a href="{% url 'userupdate' u.id %}" class="bg-sky-600 hover:bg-sky-700 text-white w-9 h-9 flex items-center justify-center text-center hover:transition transition hover:duration-300 duration-300 rounded-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-edit">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M8 7a1 1 0 0 1 -1 1h-1a1 1 0 0 0 -1 1v9a1 1 0 0 0 1 1h9a1 1 0 0 0 1 -1v-1a1 1 0 0 1 2 0v1a3 3 0 0 1 -3 3h-9a3 3 0 0 1 -3 -3v-9a3 3 0 0 1 3 -3h1a1 1 0 0 1 1 1" />
                                        <path d="M14.596 5.011l4.392 4.392l-6.28 6.303a1 1 0 0 1 -.708 .294h-3a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 .294 -.708zm6.496 -2.103a3.097 3.097 0 0 1 .165 4.203l-.164 .18l-.693 .694l-4.387 -4.387l.695 -.69a3.1 3.1 0 0 1 4.384 0" />
                                    </svg>
                                </a>
                                <a href="{% url 'userdelete' u.id %}" class="bg-red-500 hover:bg-red-600 text-white w-9 h-9 flex items-center justify-center text-center hover:transition transition hover:duration-300 duration-300 rounded-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-trash">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M20 6a1 1 0 0 1 .117 1.993l-.117 .007h-.081l-.919 11a3 3 0 0 1 -2.824 2.995l-.176 .005h-8c-1.598 0 -2.904 -1.249 -2.992 -2.75l-.005 -.167l-.923 -11.083h-.08a1 1 0 0 1 -.117 -1.993l.117 -.007zm-10 4a1 1 0 0 0 -1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0 -1 -1m4 0a1 1 0 0 0 -1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0 -1 -1" />
                                        <path d="M14 2a2 2 0 0 1 2 2a1 1 0 0 1 -1.993 .117l-.007 -.117h-4l-.007 .117a1 1 0 0 1 -1.993 -.117a2 2 0 0 1 1.85 -1.995l.15 -.005z" />
                                    </svg>
                                </a>
                            {% endif %}
                        </td>
                    <tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% else %}
        <h4>No existen usuarios registrados...</h4>
        {% endif %}
    </div>
    
</div>



{% endblock  %}

