<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <title>ClassPlanner | Plataform</title>
    {% load static %}
    <link rel="website icon" href="{% static 'tickets/img/ClassPlannerIcon-transparent.png' %}" type="img/x-icon">

    <!-- Scripts utilizados -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

    <script src="https://cdn.tailwindcss.com"></script>

    <script>
        tailwind.config = {
            darkMode: 'selector'
        }
    </script>
    
    {% load static %} 
    <link rel="stylesheet" href="{% static 'tickets/css/styles.css' %}"> 
</head>
<body class="bg-slate-100 dark:bg-[#080e1d]">
    <!-- Navbar -->
    <nav class="fixed bg-white dark:bg-[#11182d] top-0 z-50 w-full border-b border-slate-300 dark:border-slate-800">
        <div class="px-3 py-3 lg:px-5 lg:pl-3">
            <div class="flex items-center justify-between">
                <div class="flex items-center justify-start rtl:justify-end">
                    <button data-drawer-target="top-bar-sidebar" id="sidebar-buttom" data-drawer-toggle="top-bar-sidebar" aria-controls="top-bar-sidebar" type="button" class="sm:hidden text-heading dark:text-white rounded-lg bg-transparent box-border border border-transparent hover:bg-neutral-secondary-medium focus:ring-4 focus:ring-neutral-tertiary font-medium leading-5 rounded-base text-sm p-2 focus:outline-none">
                        <span class="sr-only">Open sidebar</span>
                        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h10"/>
                        </svg>
                    </button>
                    <a href="{% url 'home' %}" class="flex ms-2 md:me-24">
                        <div class="flex items-center">
                            <img src="{% static 'tickets/img/ClassPlannerIcon-transparent.png' %}" class="md:w-14 w-8" alt="icon">
                            <div class="ml-2 dark:text-gray-100">
                                <p class="uppercase font-extrabold md:text-xl text-sm">ClassPlanner</p>
                                <p class="uppercase md:text-xs text-[9px] font-semibold">Gestión de Horarios</p>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="flex items-center">
                    <div class="flex items-center ms-3">
                        <div class="mr-4">
                            <div class="flex gap-2 items-center">
                                <button id="darkModeButton" class="w-10 h-10 rounded-full bg-whit hover:bg-gray-100 dark:bg-[#11182d] dark:hover:bg-[#232945] dark:text-white border-2 border-gray-300 dark:border-slate-700 flex items-center justify-center hover:transition transition hover:duration-300 duration-300">
                                    {% comment %} cambio de tema dark/light {% endcomment %}
                                </button>
                                <div class="flex gap-2 cursor-pointer" id="user-buttom">
                                    <button type="button" class="text-sm border-2 border-gray-300 dark:border-slate-700 flex rounded-full" aria-expanded="false" data-dropdown-toggle="dropdown-user">
                                        <span class="sr-only">Open user menu</span>
                                        {% if request.user.is_authenticated %}
                                            {% if request.user.avatar %}
                                                <img class="w-10 h-10 rounded-full" src="{{ request.user.avatar.url }}" alt="user photo" id="avatar">
                                            {% else %}
                                                <img class="w-10 h-10 rounded-full" src="{% static 'tickets/img/defaultavatar.png' %}" alt="user photo" id="avatar">
                                            {% endif %}
                                        {% endif %}
                                    </button>
                                    <div class="md:flex items-center justify-center hidden">
                                        <div>
                                            <p class="text-sm font-semibold dark:text-white" role="none">
                                                {{ request.user.name }} {{ request.user.last_name }}
                                            </p>
                                            <p class="text-sm text-slate-500 dark:text-[#a8b2d2]" role="none">
                                                {{ request.user.email|truncatechars:18 }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- User Dropdown -->
                        <div class="z-50 w-72 hidden absolute bg-white dark:bg-[#11182d] top-0 right-0 md:mt-[5.5rem] mt-[4.5rem] mr-[1rem] border border-slate-300 dark:border-slate-800 rounded-lg shadow-xl" id="dropdown-user">
                            <div class="px-4 py-4 border-b border-default-medium border-slate-300 dark:border-slate-800" role="none">
                                <div class="flex gap-2">
                                    <p class="text-base font-semibold dark:text-white" role="none">
                                        {{ request.user.name }} {{ request.user.last_name }}
                                    </p>
                                    {% if request.user.rol.name == 'root'%}
                                    <p class="text-purple-500 text-xs font-semibold bg-purple-600/20 px-3 py-1 text-center rounded-full">
                                        {{ request.user.rol.name }}
                                    </p>
                                    {% elif request.user.rol.name == 'Docente'%}
                                    <p class="text-blue-500 text-xs font-semibold bg-blue-600/20 px-3 py-1 text-center rounded-full">
                                        {{ request.user.rol.name }}
                                    </p>
                                    {% elif request.user.rol.name == 'Director'%}
                                    <p class="text-orange-500 text-xs font-semibold bg-orange-600/20 px-3 py-1 text-center rounded-full">
                                        {{ request.user.rol.name }}
                                    </p>
                                    {% endif %}
                                </div>
                                <p class="text-sm text-slate-500 dark:text-[#a8b2d2]" role="none">
                                    {% comment %} {{ request.user.rol.name }} {% endcomment %}
                                    
                                </p>
                                <p class="text-sm text-blue-500" role="none">
                                    {{ request.user.email }}
                                </p>
                            </div>
                            <ul class="p-2 text-sm text-body font-medium" role="none">
                                <li>
                                    <a href="{% url 'profile' %}" class="inline-flex text-slate-500 gap-2 hover:bg-gray-100 hover:text-black dark:text-[#a8b2d2] dark:hover:text-white dark:hover:bg-[#232945] items-center w-full p-3 hover:bg-neutral-tertiary-medium hover:text-heading rounded hover:transition transition hover:duration-200 duration-200" role="menuitem">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                        </svg>
                                        Cuenta
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}" class="inline-flex items-center w-full p-3 text-slate-500 gap-2 hover:text-red-600 hover:bg-gray-100 dark:text-[#a8b2d2] dark:hover:text-red-400 dark:hover:bg-[#232945] hover:transition transition hover:duration-200 duration-200 hover:text-heading rounded" role="menuitem">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-dual-screen">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M19 3a1 1 0 0 1 1 1v15a1 1 0 0 1 -1 1h-5v2a1 1 0 0 1 -1.351 .936l-8 -3a1 1 0 0 1 -.649 -.936v-15a1 1 0 0 1 .212 -.616l.068 -.079l.078 -.072l.066 -.05l.092 -.058l.065 -.033l.1 -.04l.099 -.028l.046 -.01l.108 -.013l.066 -.001zm-5.649 3.064a1 1 0 0 1 .649 .936v11h4v-13h-7.486z" />
                                        </svg>
                                        Cerrar sesión
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Sidebar Options -->
    <aside id="top-bar-sidebar" class="fixed bg-white dark:bg-[#11182d] top-0 left-0 z-30 w-72 h-full border-r border-slate-300 dark:border-slate-800 transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
        <div class="h-full px-3 py-4 overflow-y-auto bg-neutral-primary-soft flex flex-col justify-between">
            <ul class="space-y-0 font-medium mt-24">
                <div class="mb-4">
                    {% comment %} <p class="mb-2 text-slate-500 dark:text-[#a8b2d2] uppercase font-bold text-xs">Gestión</p> {% endcomment %}
                    <li>
                        <a href="{% url 'home' %}" class="flex items-center rounded-lg dark:bg-[#11182d] dark:hover:bg-[#1c2239] dark:text-[#a8b2d2] dark:hover:text-white text-slate-500 hover:bg-gray-100 hover:text-slate-700 hover:transition transition hover:duration-200 duration-200 px-2 py-3 text-body group">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="currentColor" class="icon bg-slate-500/15 dark:bg-[#1c2239] group-hover:text-blue-500 group-hover:bg-blue-600/20 hover:transition transition hover:duration-200 duration-200 rounded p-1.5 icon-tabler icons-tabler-filled icon-tabler-layout-dashboard">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 3a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-4a2 2 0 0 1 -2 -2v-6a2 2 0 0 1 2 -2zm0 12a2 2 0 0 1 2 2v2a2 2 0 0 1 -2 2h-4a2 2 0 0 1 -2 -2v-2a2 2 0 0 1 2 -2zm10 -4a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-4a2 2 0 0 1 -2 -2v-6a2 2 0 0 1 2 -2zm0 -8a2 2 0 0 1 2 2v2a2 2 0 0 1 -2 2h-4a2 2 0 0 1 -2 -2v-2a2 2 0 0 1 2 -2z" />
                            </svg>
                            <span class="ms-2 text-sm group-hover:text-slate-700 font-semibold dark:group-hover:text-white group-hover:transition transition">Dashboard</span>
                        </a>
                    </li>
                    {% if request.user.rol.name == 'root' %}
                        <li>
                            <a href="{% url 'userlist' %}" class="flex items-center rounded-lg dark:bg-[#11182d] dark:hover:bg-[#1c2239] dark:text-[#a8b2d2] dark:hover:text-white text-slate-500 hover:bg-gray-100 hover:text-slate-700 hover:transition transition hover:duration-200 duration-200 px-2 py-3 text-body group">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-people-fill bg-slate-500/15 dark:bg-[#1c2239] group-hover:text-blue-500 group-hover:bg-blue-600/20 hover:transition transition hover:duration-200 duration-200 rounded p-1.5" viewBox="0 0 16 16">
                                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                                </svg>
                                <span class="flex-1 text-sm ms-2 whitespace-nowrap group-hover:text-slate-700 font-semibold dark:group-hover:text-white group-hover:transition transition">Usuarios</span>
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'asignaturas' %}" class="flex items-center rounded-lg dark:bg-[#11182d] dark:hover:bg-[#1c2239] dark:text-[#a8b2d2] dark:hover:text-white text-slate-500 hover:bg-gray-100 hover:text-slate-700 hover:transition transition hover:duration-200 duration-200 px-2 py-3 text-body group">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="currentColor" class="icon bg-slate-500/15 dark:bg-[#1c2239] group-hover:text-blue-500 group-hover:bg-blue-600/20 hover:transition transition hover:duration-200 duration-200 rounded p-1.5 icon-tabler icons-tabler-filled icon-tabler-book">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M21.5 5.134a1 1 0 0 1 .493 .748l.007 .118v13a1 1 0 0 1 -1.5 .866a8 8 0 0 0 -7.5 -.266v-15.174a10 10 0 0 1 8.5 .708m-10.5 -.707l.001 15.174a8 8 0 0 0 -7.234 .117l-.327 .18l-.103 .044l-.049 .016l-.11 .026l-.061 .01l-.117 .006h-.042l-.11 -.012l-.077 -.014l-.108 -.032l-.126 -.056l-.095 -.056l-.089 -.067l-.06 -.056l-.073 -.082l-.064 -.089l-.022 -.036l-.032 -.06l-.044 -.103l-.016 -.049l-.026 -.11l-.01 -.061l-.004 -.049l-.002 -13.068a1 1 0 0 1 .5 -.866a10 10 0 0 1 8.5 -.707" />
                            </svg>
                            <span class="flex-1 text-sm ms-2 whitespace-nowrap group-hover:text-slate-700 font-semibold dark:group-hover:text-white group-hover:transition transition">Asignaturas</span>
                        </a>
                    </li>
                </div>
                {% comment %} <li>
                    <a href="{% url 'asignaturaspordocente' %}" class="flex items-center rounded-lg dark:bg-[#11182d] dark:hover:bg-[#1c2239] dark:text-[#a8b2d2] dark:hover:text-white text-slate-500 hover:bg-gray-100 hover:text-slate-700 hover:transition transition hover:duration-200 duration-200 px-2 py-3 text-body group">
                        <svg class="group-hover:text-slate-700 dark:group-hover:text-white group-hover:transition transition shrink-0 w-5 h-5 duration-75 group-hover:text-fg-brand" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M16 19h4a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-2m-2.236-4a3 3 0 1 0 0-4M3 18v-1a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1Zm8-10a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/></svg>
                        <span class="flex-1 ms-2 whitespace-nowrap group-hover:text-slate-700 font-semibold dark:group-hover:text-white group-hover:transition transition">Horarios</span>
                    </a>
                </li> {% endcomment %}
            </ul>
            <ul class="space-y-0 font-medium mt-24 ml-2">
                <li>
                    <p class="text-slate-600 dark:text-[#afbadd] font-semibold text-xs"> ClassPlanner v.0.0.1</p>
                    <p class="text-slate-500 dark:text-[#a8b2d2] font-normal text-xs">@Inacapinos</p>
                </li>
            </ul>
        </div>
    </aside>

    <!-- Interfaces -->
    <div class="p-4 bg-slate-100 dark:bg-[#080e1d] sm:ml-72 mt-14">
        {% block content %}
            <div class="p-4 border-1 border-default border-dashed border-gray-400 mt-10 rounded-lg">
                <div class="grid grid-cols-3 gap-4 mb-4">
                    <div class="flex items-center justify-center h-24 rounded-base bg-gray-200 dark:bg-[#11182d]">
                        <p class="text-gray-600">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/></svg>
                        </p>
                    </div>
                    <div class="flex items-center justify-center h-24 rounded-base bg-gray-200 dark:bg-[#11182d]">
                        <p class="text-gray-600">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/></svg>
                        </p>
                    </div>
                    <div class="flex items-center justify-center h-24 rounded-base bg-gray-200 dark:bg-[#11182d]">
                        <p class="text-gray-600">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/></svg>
                        </p>
                    </div>
                </div>
                <div class="flex items-center justify-center h-48 rounded-base bg-gray-200 dark:bg-[#11182d] mb-4">
                    <p class="text-gray-600">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/></svg>
                    </p>
                </div>
                <div class="grid grid-cols-2 gap-4 mb-4">
                    <div class="flex items-center justify-center h-24 rounded-base bg-gray-200 dark:bg-[#11182d]">
                        <p class="text-gray-600">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/></svg>
                        </p>
                    </div>
                    <div class="flex items-center justify-center h-24 rounded-base bg-gray-200 dark:bg-[#11182d]">
                        <p class="text-gray-600">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/></svg>
                        </p>
                    </div>
                    <div class="flex items-center justify-center h-24 rounded-base bg-gray-200 dark:bg-[#11182d]">
                        <p class="text-gray-600">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/></svg>
                        </p>
                    </div>
                    <div class="flex items-center justify-center h-24 rounded-base bg-gray-200 dark:bg-[#11182d]">
                        <p class="text-gray-600">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/></svg>
                        </p>
                    </div>
                </div>
                <div class="flex items-center justify-center h-48 rounded-base bg-gray-200 dark:bg-[#11182d] mb-4">
                    <p class="text-gray-600">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/></svg>
                    </p>
                </div>
                <div class="grid grid-cols-2 gap-4">
                    <div class="flex items-center justify-center h-24 rounded-base bg-gray-200 dark:bg-[#11182d]">
                        <p class="text-gray-600">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/></svg>
                        </p>
                    </div>
                    <div class="flex items-center justify-center h-24 rounded-base bg-gray-200 dark:bg-[#11182d]">
                        <p class="text-gray-600">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/></svg>
                        </p>
                    </div>
                    <div class="flex items-center justify-center h-24 rounded-base bg-gray-200 dark:bg-[#11182d]">
                        <p class="text-gray-600">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/></svg>
                        </p>
                    </div>
                    <div class="flex items-center justify-center h-24 rounded-base bg-gray-200 dark:bg-[#11182d]">
                        <p class="text-gray-600">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/></svg>
                        </p>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>

    {% if messages %}
    <div class="fixed bottom-0 z-40 right-0 mr-4 mb-4 translate-y-24 transition duration-200" id="login_message">
        <div class="bg-green-500/20 py-3 px-10 rounded-lg text-green-600 border border-green-600/20 flex items-center justify-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-circle-check">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z" />
            </svg>
            <div>
                <p class="font-semibold">Login Successful!</p>
                <p class="text-xs dark:text-slate-300 text-slate-700">Has iniciado sesión correctamente.</p>
            </div>
        </div>
    </div>

        {% for message in messages %}
            <script>
                if ('{{ message }}' === 'loginsuccessful') { 
                    const loginMsg = document.getElementById('login_message');
                    setTimeout(() => {loginMsg.classList.remove('translate-y-24')}, 1000);
                    setTimeout(() => {loginMsg.classList.add('translate-y-24')}, 4000);

                } else {
                    Swal.fire({
                        "title": "{% if 'error' in message.tags %}¡Error!{% elif 'success' in message.tags %}Listo!{% else %}Información{% endif %}",
                        "text": "{{ message }}",
                        "icon": "{% if 'error' in message.tags %}error{% elif 'success' in message.tags %}success{% elif 'warning' in message.tags %}warning{% else %}info{% endif %}",
                        "confirmButtonColor": "{% if 'error' in message.tags %}#d33{% elif 'success' in message.tags %}#0d6efd{% elif 'warning' in message.tags %}#f39c12{% else %}#3085d6{% endif %}"
                    }); 
                }   
            </script>
        {% endfor %}
    {% endif %}
</body>

    {% load static %}
    <script src="{% static 'tickets/js/script.js' %}"></script>
    <script src="{% static 'tickets/js/darkmode.js' %}"></script>
</html>