        <div class="relative max-h-[70vh] overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default border-slate-300 dark:border-slate-800 rounded-lg">
            <table class="min-w-full text-sm text-left rtl:text-right text-body">
                <thead class="text-sm text-left text-slate-700 dark:text-white bg-slate-200 dark:bg-[#10141f] text-body bg-neutral-secondary-soft border-b rounded-base border-default dark:border-slate-800">
                    <tr>
                        <th scope="col" colspan="5" class="px-6 py-3 font-bold text-center whitespace-nowrap md:whitespace-normal">
                            Sin registros
                        </th>
                    </tr>
                </thead>
                <tbody class="dark:text-[#a8b2d2] text-slate-500">
                    <tr class="border-b border-default odd:bg-white even:bg-white even:dark:bg-[#171c2b] dark:odd:bg-[#171c2b] dark:border-b-slate-800">
                        <td colspan="5" class="px-6 py-4 whitespace-nowrap md:whitespace-normal text-center bg-white text-slate-500 font-medium">
                            ---
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>